.aboutme {
    min-height: 50vh;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center; 
    padding-top: 80px;
    overflow: hidden;
    background: white;
    font-family: 'Century', serif;
}

.title {
    text-align: center;
    color: black;
    font-size: 3rem;
}

.text {
    text-align: center;
    color: black;
    font-size: 1.0rem;
}