.aboutme {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 3rem;
    padding: 100px;
    background: white;
    font-family: 'Century', serif;
}

.title {
    color: black;
    margin-top: 2rem;
    font-size: 3rem;
}

.text {
    color: black;
    font-size: 1.2rem;
    line-height: 1.8;
    margin-top: 9rem;
    margin-bottom: 5rem;
    bottom: 40px;
}

.timeline {
    position: relative;
    margin-top: 6rem;
    padding-left: 40px;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 0;
    bottom: 40px;
    width: 2px;
    background: black;
}

.item {
    position: relative;
    margin-bottom: 3rem;
    color: black;
    font-size: 1.1rem;
}

.item::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background: black;
    border-radius: 50%;
    left: -41px;
    top: 6px;
}

.year {
    font-weight: bold;

    margin-bottom: 0.5rem;
    color: black;
}

.content h3 {
    margin-bottom: 0.5rem;
    color: black;
    font-size: 1.2rem;
}
