.aboutme {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 3rem;
    padding: 100px;
    background: white;
    font-family: 'Century', serif;
}

.title {
    color: black;
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 3rem;
}

.text {
    color: black;
    font-size: 1.2rem;
    line-height: 1.8;
    margin-top: 9rem;
    margin-bottom: 5rem;
}

.timeline {
    position: relative;
    margin-top: 6rem;
    padding-left: 40px;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 0;
    bottom: 40px;
    width: 2px;
    background: black;
}

.item {
    position: relative;
    margin-bottom: 3rem;
    color: black;
    font-size: 1.1rem;
}

.item::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background: black;
    border-radius: 50%;
    left: -41px;
    top: 6px;
}

.year {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: black;
}

.content h3 {
    margin-bottom: 0.5rem;
    color: black;
    font-size: 1.2rem;
}

.strengths {
    margin-top: 7rem;
    margin-bottom: 5rem;
}

.strength {
    margin-bottom: 2rem;
}

.strength h3 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: black;
}

.strength p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: black;
}


/* =========================
   Mobile
   ========================= */

@media (max-width: 768px) {

    .aboutme {
        width: 100%;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 60px 25px;
    }

    .title {
        margin-top: 0;
        margin-bottom: 2rem;
        font-size: 2.2rem;
    }

    .text {
        font-size: 1rem;
        line-height: 1.8;
        margin-top: 0;
        margin-bottom: 3rem;
       }

   .timeline {
       margin-top: 2rem;
       padding-left: 40px;
   }

   .timeline::before {
       left: 3px;
       bottom: 20px;
       width: 2px;
   }

   .item {
       margin-bottom: 2.5rem;
       font-size: 1rem;
   }

   .item::before {
       width: 10px;
       height: 10px;
       left: -41px;
       top: 6px;
   }

    .year {
        margin-bottom: 0.4rem;
    }

    .content h3 {
        font-size: 1.1rem;
        margin-bottom: 0.4rem;
    }

    .strengths {
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    .strength {
        margin-bottom: 1.8rem;
    }

    .strength h3 {
        font-size: 1.15rem;
        margin-bottom: 0.4rem;
    }

    .strength p {
        font-size: 1rem;
        line-height: 1.7;
    }
}