.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    display: flex;
    height: 80px;
    background: rgba(0, 0, 0, 0.3);
    padding: 0.5rem 2rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-family: 'Century', serif;
    text-transform: uppercase;
    padding: 0.5rem 0;
}

.links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    
    font-size: 1.10rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    font-family: 'Century', serif;
    text-transform: uppercase;
    padding: 0.5rem 0;
}

.links a {
    text-decoration: none;
    color: inherit;
}