.skills {
    padding: 100px;
    min-height: 100vh;
    font-family: 'Century', serif;
    background: #eef3f5;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    padding: 12px 22px;
    border-radius: 30px;
}

.card h3 {
    color: white;
    font-size: 1.3rem;
    margin: 0;
}

.technical {
    background: #3f4f5f;
}

.soft {
    background: #c9825a;
}

.tools {
    background: #657d6a;
}

.language {
    background: #6d6680;
}

.title {
    color: black;
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 3rem;
    text-align: left;
}

